@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');
.navbar{ font-family: 'Manrope', sans-serif;}
.cercleBlanc {
    height: 120px;
    width: 120px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin-left: -50px;
    margin-top: -20px; 
    margin-bottom: -20px;
}
.cercleBlanc img {
    height: 140px;
    width: 120px;
    margin-left:20px; 
}
.logoUberCercle, .logoUber{margin-left:20px;}
#VR{
    border-style:solid;
    border-top:none;
    border-bottom:none;
    border-color: white; 
}
#navDroite .nav-item .nav-link:hover{color:#38B6FF!important;}
.navbar{background-color: black!important;}
#navDroite .navbar-nav{
    margin:0 auto!important;
    margin-right:20px!important;
}
.navbar .navbar-brand img { height: 60px;}
.navbar{background-color: black;} 
.navbar .navbar-brand {padding-top: 0;}
.navbar .nav-link {color: white!important;} 
.navbar .button-collapse {padding-top: 1px;}
.card-intro .card-body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 0 !important;
}
.card-intro .card-body h1 {margin-bottom: 0;}
.card-intro {margin-top: 64px;}
.imgLogout{
    width:25px;
    height:25px; 
}
#navbar-brand{display: block!important;}
.logoUberMobil{display: none!important;}
@media (max-width: 450px) {
    .card-intro {
      margin-top: 56px;
    }
    #navbar-brand{
        display: none!important;
    }
    .logoUberMobil{
         display: block!important;
         height: 40px;
         width: 40px;
    }
}
@media (max-width: 900px) {
    #derniereConnexion{
        display: none!important;
    }
}
@media (min-width: 1441px) {
   .card-intro {
     padding-left: 0 !important;
   }
} 
  